<!DOCTYPE html>
<html>

<head>

  <title>FIND YOUR FREE PARKING !</title>

  <link href="/lstyle.css" type="text/css" rel="stylesheet">
</head>

<body>
  <script>
    function mystart() {
      var path = document.location.pathname;
      window.location.href= "test.html";
    }
  </script>


<div class = "F"> 

  <h1>FIND YOUR FREE PARKING !</h1>
</div>



  <div class = "Login">  
    <form>
      

      <h5>First name:</h5>
      <input type="text" name="User Name">

      <h5>Last name:</h5>
      <input type="text" name="Password">
      <br><br>
<button type="button" onclick="mystart()">start</button>
    </form> 

    
    
  </div>

</body>
</html>

