body {margin:25px;}
@font-face {
    font-family: strangeFont;
    src: url(font/dizzyedgeDEMO.otf);
}
h2 {
    font-size: 2em;
    font-family: strangeFont;
}
div.polaroid1 {
   	margin: 0 auto;
    width: 40%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    opacity: 0.90;
}
div.polaroid2 {
    position: absolute;
    right: 60px;
    width: 40%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}
div.polaroid3 {
    position: absolute;
    top: 500px;
    left: 60px;
    width: 40%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

div.polaroid4 {
    position: absolute;
    top:500px;
    right: 60px;
    width: 40%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}
div.container {
    text-align: center;
    padding: 10px 10px;
}
p{
    font-size: 120%;
}

img {
    background-color: rgba(255, 255, 255, 0.9);
  overflow-y: auto;


  text-align: center;

}